<mat-toolbar color="primary">
  <span><a routerLink="/">Message App</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/user/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/user/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </li>
  </ul>
  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon>tag_faces</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>link_off</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
