mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.center{
  width: 75%;
  margin: 10px auto;
}

.main-div{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
